<% provide(:title, 'Create User') %>
<% provide(:button_text, '作成') %>
<% provide(:request_path, admin_users_path) %>
<h1>ユーザー作成</h1>

<div class="container">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render 'form', { to_create: true } %>
  </div>
</div>
</div>
